@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container{
    @apply container flex justify-between mx-auto items-center
}
.btn-primary{
    @apply bg-primary text-white rounded font-primary
}
.btn-secondary{
    @apply text-md leading-24 px-8 py-4 bg-white rounded text-primary font-primary font-semibold
}
.Nav-active{
    @apply text-primary
}
.dropdown {
    @apply absolute top-full left-0 bg-white border border-[#ccc] rounded py-2 shadow-sm z-10 min-w-40 hidden
  }
  
.NavBar .relative:hover .dropdown {
   @apply block
  }
  
.dropdown-item {
    @apply block px-4 py-2 text-secondary hover:text-primary
}
.BannerTitle{
    @apply text-BannerTitle font-semibold font-primary leading-85 text-white mb-4
}
.Description{
    @apply text-sm leading-30 font-medium text-white font-secondary
}
.HeroBanner{
    @apply bg-secondary w-full content-center
}
.TitleHeading{
    @apply text-TitleHeading leading-56 font-primary font-semibold
}
.Description-18{
    @apply text-sm leading-30 font-secondary font-normal text-white
}
.Heading-20{
    @apply text-lg leading-30 font-primary font-semibold 
}
.Featuretitle{
    @apply text-28 leading-40 font-bold font-primary
}
.Description-dark{
    @apply text-sm leading-30 font-medium text-secondary font-secondary
}
.Title-60{
    @apply text-60 leading-85 font-semibold font-primary
}
.Iconslist:first-child{
    @apply mt-[119px]
}
.Title-24{
    @apply text-24 leading-33 font-semibold font-primary
}
.Iconslist:after {
    content: "";
    width: 23%;
    height: 2px;
    position: absolute;
    border: 1px dashed #fff;
    transform: rotate(90deg);
    top: 122%;
    right: 81.5%;
}
.Iconslist:last-child::after{
    display: none;
}
.IconNumber:after {
    content: "";
    width: 373px;
    height: 2px;
    position: absolute;
    border-top: 1px dashed #fff;
    top: 26px;
    left: 108%;
}
.Iconslist-layout2:nth-child(3n) .IconNumber::after{
    display: none;
}
@media (max-width:550px){
    .IconNumber::after, .Iconslist:after{
        display: none;
    }
}